language: java
sudo: false # Use a container-based environment without root access
install: true # Skip the 'install' step, since there's nothing special to install

cache:
 directories:
   - $HOME/.m2 # Maven artifact repository

jdk:
  - oraclejdk9

addons:
  sonarcloud: true
  apt:
    packages:
      - oracle-java9-installer # Use apt to download and install a more recent update of the JDK in version 9

jobs:
  include:
    - name: compile
      script: mvn --errors clean:clean compiler:compile resources:resources native2ascii:resources sonar-packaging:sonar-plugin
    - name: get_build_artifact
      script: "export TARGET_FILE=$(ls target/resharper-clt-plugin-*.jar)"
    - name: before-deploy
      script:
        - "ls target/*.jar"
        - "ls target/resharper-clt-plugin-*.jar"
    - name: GitHub Release
      script: echo "Deploying to GitHub releases ..."
      deploy:
        # GitHub Releases uses git tags.
        on:
          tags: true
        provider: releases
        # Set in the settings page of your repository, as a secure variable
        api_key: $GITHUB_OAUTH_TOKEN
        # Target file name is retrieved by previous build job
        file: $TARGET_FILE
        # Make sure you have skip_cleanup set to true, otherwise Travis CI will delete all the files created during the build
        skip_cleanup: true
        # NOTE: As long as I am testing this feature, I'll allow overwriting of released binaries
        overwrite: true
        # NOTE: As long as I am testing this feature, I'll mark each release as draft
        #draft: true
        #prerelease: true
